.container {
    margin-top: 5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .wrapper {
    width: 450px; /* Increase the width of the wrapper */
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    background-color: #fff; /* Add a background color to the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow */
    background-color: #bdc3c3; 
  }
  
  .wrapper > h2 {
    font-size: 32px;
    color: #222;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
  }
  
  .wrapper > form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .wrapper > form > input {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .submitButton {
    outline: none;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    background-color: #22ab22;
    color: #fff;
    cursor: pointer;
    transition: 150ms;
    letter-spacing: 0.5px;
  }
  
  .submitButton:hover {
    background-color: #1a8c1a;
  }
  
  .loginNow {
    color: #555;
    text-decoration: underline;
    font-size: 16px;
    margin-top: 1.75rem;
    cursor: pointer;
    transition: 150ms;
  }
  
  .loginNow:hover {
    color: #333;
  }
  